.categoryColumn {
	display: flex;
	flex-direction: column;
}

.labelTitle {
	display: block;
	text-align: center;
	font-weight: var(--font-weight-bold);
	background-color: var(--color-primary-strong);
	color: var(--color-neutral-00);
	padding: calc(var(--spacing) * 3);
	border-bottom: 1px dashed var(--color-neutral-00);
	margin-bottom: calc(var(--spacing) * 4);
	text-transform: uppercase;
}

.linkList {
	list-style: none;
	padding: 0 calc(var(--spacing) * 4);
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 3);
}
