@import "@styles/base.css";

.hero {
	position: relative;
	display: flex;
	align-items: stretch;
	justify-content: center;
	background-color: var(--color-primary-base);
	padding: 0 calc(var(--spacing) * 4);
	overflow: hidden;
	width: 100%;
	min-height: calc(100dvh - var(--header-height, 100px));
}
