.mentionLegal {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 6);
	padding: calc(var(--spacing) * 6) calc(var(--spacing) * 26);
}

.mentionLegal__title {
	font-family: var(--font-sans);
	font-weight: var(--font-weight-bold);
	color: var(--color-primary-strong);
}

.mentionLegal__items {
	display: flex;
	flex-direction: column;
	gap: calc(var(--spacing) * 6);
}
