@import "@styles/base.css";

.title--h1 {
	composes: h1 from "@styles/utilities/typography.module.css";
}

.title--h2 {
	composes: h2 from "@styles/utilities/typography.module.css";
}

.title--h3 {
	composes: h3 from "@styles/utilities/typography.module.css";
}

.title--h4 {
	composes: h4 from "@styles/utilities/typography.module.css";
}

.title--dark {
	color: var(--color-primary-base);
}

.title--eyebrow {
	background-image: linear-gradient(135deg, rgba(53, 222, 255, 1) 0%, rgba(174, 255, 217, 1) 20%);
	color: transparent;
	background-clip: text;
	font-family: var(--font-display);
	font-size: var(--text-sm);
	font-weight: var(--font-weight-semibold);
	text-transform: uppercase;
}

.title--white {
	color: var(--color-white);
}
