@import "@styles/breakpoints.css";
@import "@styles/tokens.css";

.wrapperLegacy {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 calc(var(--spacing) * 4);
	box-sizing: border-box;
}

/* Breakpoint tablette+ : padding latéral plus généreux */
@media (--medium-up) {
	.wrapperLegacy {
		padding: 0 calc(var(--spacing) * 8);
	}
}
